@model IEnumerable<WebGiayyy.Models.Product>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kết quả tìm kiếm</h2>

@if (!Model.Any())
{
    <p>
        Không tìm thấy sản phẩm có từ khóa "<strong>@ViewBag.Keyword</strong>".
        @if (ViewBag.MinPrice != null || ViewBag.MaxPrice != null)
        {
            <span> <br />Giá từ @ViewBag.MinPrice đến @ViewBag.MaxPrice</span>
        }
    </p>
}
else
{
    <p>Những sản phẩm có từ khóa "<strong>@ViewBag.Keyword</strong>".</p>
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card product-card">
                    <div class="product-img-wrapper">
                        <img src="~/Images/@item.MainImage" class="product-img">
                    </div>
                    <div class="card-body text-center">
                        <h6>@item.ProductName</h6>
                        <p class="price">@item.Price.ToString("N0")₫</p>
                        <a href="@Url.Action("Details","Products", new { slug = item.Slug })"
                           class="btn btn-dark btn-sm">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>

        }
    </div>
}