@model WebGiayyy.Models.Product

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Xóa sản phẩm</h2>

<h4>Bạn có chắc chắn muốn xóa sản phẩm này?</h4>

<div class="card shadow p-4 mt-3">
    <dl class="dl-horizontal">
        <dt>SKU</dt>
        <dd>@Model.SKU</dd>

        <dt>Tên sản phẩm</dt>
        <dd>@Model.ProductName</dd>

        <dt>Slug</dt>
        <dd>@Model.Slug</dd>

        <dt>Ảnh</dt>
        <dd>
            <img src="@Model.MainImage"
                 style="max-width:200px;border-radius:8px;" />
        </dd>

        <dt>Mô tả</dt>
        <dd>@Model.Summary</dd>

        <dt>Giá</dt>
        <dd>@String.Format("{0:N0} ₫", Model.Price)</dd>

        <dt>Tồn kho</dt>
        <dd>@Model.Stock</dd>

        <dt>Trạng thái</dt>
        <dd>
            @(Model.IsActive == true ? "Đang bán" : "Ngừng bán")
        </dd>

        <dt>Danh mục</dt>
        <dd>@Model.Category.CategoryGroup.GroupCode</dd>
    </dl>

    @using (Html.BeginForm("Delete","Products",new { area = "Admin" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProductId)

        <div class="mt-3">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Hủy", "QuanLySanPham", null, new { @class = "btn btn-secondary ms-2" })
        </div>
    }
</div>
